<div class="container">
    <div class="row">
        <div class="col-md-3 bg-light p-5">
            <button class="btn btn-success btn-block" id="btnPosicion">Mi Ubicación</button>
            <button class="btn btn-primary btn-block" id="btnGetEstacionamientos">Estacionamientos</button>
            <button class="btn btn-dark btn-block" id="btnBorrarPosicion">Limpiar</button>
        </div>
        <div class="col-md-9">
            <div id="map">
                <agm-map [latitude]="miPosicion.lat" [longitude]="miPosicion.lng">
                    <agm-marker [latitude]="miPosicion.lat" [longitude]="miPosicion.lng"></agm-marker>
                </agm-map> 
                
                
                <!-- <agm-map [latitude]="-16.3988900" [longitude]="-71.5350000">
                        <agm-marker [latitude]="-16.3988900" [longitude]="-71.5350000"></agm-marker>
                    </agm-map>   -->
            </div>
        </div>
    </div>
    <div class="row bg-light m-5 p-5" id="estacionamientos"></div>
</div>  
